menuconfig ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX
	bool "ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX

choice
	prompt "Synaptics Touch Screen Size of the Module"
	
config ZTEMT_TOUCHSCREEN_SYNAPTICS_5P0_INCH_TP
	bool "5.0 inch OTG TP"
	help
	  This option enables support 5.0 inch otg tp.	

config ZTEMT_TOUCHSCREEN_SYNAPTICS_4P7_INCH_TP_2
	bool "4.7 inch OTG TP for mini2"
	help
	  This option enables support 4.7 inch otg tp.
endchoice

config ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX_I2C
	tristate "Synaptics DSX I2C touchscreen"
	depends on I2C
	help
	  Say Y here if you have a Synaptics DSX I2C touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_i2c.

config ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV
	tristate "Synaptics DSX touchscreen char device"
	depends on ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX_I2C
	help
	  This enables support for direct register access for Synaptics DSX
	  touchscreens.

config ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING
	tristate "Synaptics DSX touchscreen test reporting"
	depends on ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX_I2C
	help
	  This enables support for test reporting for Synaptics DSX
	  touchscreens.

config ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE
	tristate "Synaptics DSX touchscreen firmware update"
	depends on ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX_I2C
	help
	  This enables support for firmware update for Synaptics DSX
	  touchscreens.

config ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX_DEBUG
	bool "Enable debug output"
	depends on ZTEMT_TOUCHSCREEN_SYNAPTICS_DSX_I2C
	default n

endif
